<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Domov</a></li>
		        	<li><a href="/about">O mne</a></li>
		        	<li><a href="/reviews">Recenzie</a></li>	
					<li><a href="/wpub">Webove Publikovanie</a></li>
					<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adam.blasko1@gmail.com">email</a></li>
	        		<li><a href="https://github.com/blaskoa">github.com/blaskoa</a></li>
				</ul>
			</footer>
		</body>
	</html>